@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.logo-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  box-sizing: border-box;
}

figure {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.logo-image {
  width: 45px; 
  height: 34px; 
  border-radius: 0px;
  align-self: center;
}

.logo-text {
  font-family: Montserrat, sans-serif; /* Heading */
  font-size: 32px; 
  font-weight: 700; 
  line-height: 48px; 
  color: #171A1FFF; /* neutral-900 */
}